<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    <% if (description) { %>
    <meta name="description" content="{{ description }}">
    <% } %>
    {{{ userHeadTags }}}
    {{{ pageMeta }}}
    {{{ renderResourceHints() }}}
    {{{ renderStyles() }}}
    <style>
    @media (max-width: 480px) {
      .footer-text {
        font-size: 14px;
      }
    }
    @media (max-width: 380px) {
      .footer-text {
        font-size: 12px;
      }
    }
    </style>
  </head>
  <body>
    <!--vue-ssr-outlet-->
    {{{ renderScripts() }}}
  </body>
</html>
